In [5]:
# Write a program which accepts a sequence of comma-separated numbers from console and generate a list.

a = input('insert sequence of comma-seperated numbers:')
List = a.split(",")
print('List :', List)

insert sequence of comma-seperated numbers:1,2,3,4,5
List : ['1', '2', '3', '4', '5']

In [86]:
# Create the below pattern using nested for loop in Python.
# *
# **
# ***
# ****
# *****
# ****
# ***
# **
# *

In [33]:
n=5;
for i in range(n):
    print(i)

0
1
2
3
4

In [40]:
n=5;
for i in range(0):
    print(i)

In [34]:
n=5;
for i in range(1):
    print(i)

0

In [35]:
n=5;
for i in range(2):
    print(i)

0
1

In [36]:
n=5;
for i in range(3):
    print(i)

0
1
2

In [37]:
n=5;
for i in range(4):
    print(i)

0
1
2
3

In [38]:
n=5;
for i in range(5):
    print(i)

0
1
2
3
4

In [79]:
n=5;
for i in range(1):
    for j in range(i):
        print(j)
        print ('* ', end="")
    print('')

In [84]:
n=5;
for i in range(2):
    for j in range(i):
        #print(j)
        print ('* ', end="")
    print('')

*

In [78]:
n=5;
for i in range(3):
    for j in range(i):
        #print(j)
        print ('* ', end="")
    print('')

*
* *

In [77]:
n=5;
for i in range(4):
    for j in range(i):
        #print(j)
        print ('* ', end="")
    print('')

*
* *
* * *

In [83]:
n=5;
for i in range(5):
    for j in range(i):
        #print(j)
        print ('* ', end="")
    print('')

*
* *
* * *
* * * *

In [85]:
for i in range(n,0,-1):
    for j in range(i):
        print('* ', end="")
    print('')

* * * * *
* * * *
* * *
* *
*

In [87]:
n=5;
for i in range(n):
    for j in range(i):
        print ('* ', end="")
    print('')

for i in range(n,0,-1):
    for j in range(i):
        print('* ', end="")
    print('')

*
* *
* * *
* * * *
* * * * *
* * * *
* * *
* *
*

In [111]:
# Write a Python program to reverse a word after accepting the input from the user.

a = input('enter any word :')

for char in range(len(a)-1,-1,-1):
    print(a[char], end="")
print("\n")

enter any word :python learner
renrael nohtyp

In [125]:
# Write a Python Program to print the given string in the format specified in the sample output.
 # WE, THE PEOPLE OF INDIA, having solemnly resolved to constitute India into aSOVEREIGN,
 # SOCIALIST, SECULAR, DEMOCRATIC REPUBLIC and to secure to allits citizens


print('WE, THE PEOPLE OF INDIA,\n \t having solemnly resolved to constitute India into a SOVEREIGN, !'
      '\n \t \t SOCIALIST, SECULAR, DEMOCRATIC REPUBLIC \n \t \t  and to secure to allits citizens')

WE, THE PEOPLE OF INDIA,
 	 having solemnly resolved to constitute India into a SOVEREIGN, !
 	 	 SOCIALIST, SECULAR, DEMOCRATIC REPUBLIC
 	 	  and to secure to allits citizens